{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}">
</head>
<body>
    {% block content %}
    <div class="container">
        <h1 class="mt-5">Add New Item</h1>
        <form method="post" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Item</button>
        </form>
        <a href="{% url 'home' %}" class="btn btn-link mt-3">Back to Home</a>
    </div>
    {% endblock content %}
</body>
</html>