{% extends 'store/base.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}">
{% endblock title %}
{% block content %}
<h1 class="mt-5">Add Customers</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- This will render the form fields -->
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}